.app {
    background-color: #ffffff;
    position: absolute;
    overflow: hidden;
    border: 2px solid #000000;
    box-shadow: 2.5px 2.5px #00000062;
    
  }

  .active {
    box-shadow: 5px 5px #00000062;
  }
  
  .app .topBar {
    background-color: #000000;
    color: #ffffff;
  }
  
  .app .topBar * {
    display: inline;
    margin: 3px;
  }

  .app .topBar button {
    background-color: #000000;
    color: #ffffff
  }
  
  .app .topBar .divider {
    background-color: #000000;
    width: 60%;
    height: 10px;
  }

  .app-content {
    margin: 10px
  }