.dark * {
cursor: url(http://cur.cursors-4u.net/cursors/cur-6/cur588.cur), auto !important;
    font-family: 'Helvetica';
}

.dark .app {
    background-color: #4b4b4b;
}

.dark .app .topBar button {
    background-color: #910000;
}

.dark .app-content {
    color: #fff;
}

.dark .AppList {
    background-color: #000;
    color: #fff;
    font-size: 15px;
}

.AppContainer:hover {
    background-color: #9c9c9c;
    color: #000;
}

.dark .AppListHeader {
    background-color: #4f4f75;
    border-bottom: 2px solid #000000;
}

.dark .aboutName {
    color: #93a0ff;
}

.dark .active {
    box-shadow: 5px 5px rgba(149, 149, 149, 0.38);
}