.app {
    background-color: #ffffff;
    position: absolute;
    border: 2px solid #000000;
    box-shadow: 2.5px 2.5px #00000062;
    overflow: hidden;
}

.active {
    box-shadow: 5px 5px #00000062;
}

.app .topBar {
    background: #000;
    color: #ffffff;
}

.app .topBar * {
    display: inline;
    margin: 3px;
}

.app .topBar:hover {
    cursor: grab;
}

.app .topBar:active {
    cursor: grabbing;
}

.app .topBar button {
    background-color: #FF0000;
    border: 2px solid #000000;
    border-radius: 4px;
    color: #ffffff
}

.app .topBar .divider {
    background-color: #000000;
    width: 60%;
    height: 10px;
}

.app-content {
    margin: 0;
    overflow: scroll
}

.app-statusBar {
    height: 10px;
    width: 100%;
    background-color: #999;
    position: absolute;
    bottom: 0;
    overflow: auto;
}

.app-statusBar div {
    width: 10px;
    height: 10px;
    background-color: #555555;
    float: right;
}

.other .app {
    background-color: lightseagreen;
}
