.app {
    background-color: #ffffff;
    position: absolute;
  }
  
  .app .topBar {
    background-color: #000;
    color: white;
  }
  
  .app .topBar * {
    display: inline;
  }
  
  .app .topBar .divider {
    background-color: #000;
    width: 60%;
    height: 10px;
  }