.AppList {
    border: 2px solid #000000;
    border-radius: 3px;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    bottom: 51px;
    margin: 5px;
    display: none;
    font-size: 20px;
}

.AppListInternal {
    padding: 0;
}

.AppListHeader {
    background-color: #A2A3EC;
    border-bottom: 2px solid #000000;
}

.AppListItem {
    padding: 5px 7px;
    list-style: none;
}

.AppContainer {
    display: flex;
}

.AppContainer:hover {
    background-color: #CACACA;
}

.AppIcon {
    transform: scale(0.6);
    height: 40px;
}