.MenuBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    margin: 0;
    padding: 15px;
}

.menuClock {
    float: left;
}

.menuAppBtn {
    float: right;
}

 #fullscreenButton {
    float: left;
    height: 20px;
    margin-right: 10px;
}