* {
    font-family: 'pro';
    box-sizing: border-box;
    margin: 0;
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}

#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

.closed {
  display: none;
}