* {
    font-family: 'pro';
    box-sizing: border-box;
    margin: 0;
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    background-color: black;
}

#start {
    font-size: x-large;
    margin: 0 auto;
}

.video {
    margin: 10% 30%;
}

@font-face {
    font-family: 'pro';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
    font-family: 'matrix';
    src: url(./fonts/PressStart2P-Regular.ttf);
}

#root {
    overflow-x: hidden;
    overflow-y: hidden;
}

.closed {
    display: none;
}

.bad * {
    font-family: 'Comic Sans MS', 'Zapfino';
}

#start{
    border: none;
    border-radius: 4px;
    padding: 5px 10px;

    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
}

video {
    display: none;
}